{% extends "index.html" %}
{% block content %}
    <br><br>
    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Could Computing Assignment 2</h2>
                <p class="text-center" style="color: rgb(255,255,255);background-color: #020202;">Thanks for vistiting
                    our appication.</p>
            </div>
            <div class="row people" style="background-color: #5b5b5b;">
                <div class="col-md-4 col-lg-3 item" style="background-color: #c1bfbf;">
                    <h3 class="text-center name">Shuai Gao</h3>
                    <h5 class="text-center name">s3596156</h5>
                    <p>&gt;</p>
                    <p>Contribution:</p>
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; Data prepared</p>
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; Data analysis</p>
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; UI design</p>
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; Programming</p>
                    <p>&nbsp; &nbsp; &nbsp; &nbsp; Cloud buid</p>
                </div>
                <div class="col-md-4 col-lg-3 item" style="background-color: #e7e7e7;">
                    <h3 class="text-center name">Haoqian Yang</h3>
                    <h5 class="text-center name">s3681278</h5>
                    <p>&gt;</p>
                    <p>Contribution:</p>
                </div>
                <div class="col-md-4 col-lg-3 item" style="background-color: #c1bfbf;">
                    <h3 class="text-center name">Bingnan Li</h3>
                    <h5 class="text-center name">s3699455</h5>
                    <p>&gt;</p>
                    <p>Contribution:</p>
                </div>
                <div class="col-md-4 col-lg-3 item" style="background-color: #e7e7e7;">
                    <h3 class="text-center name">Yingzhi Yan</h3>
                    <h5 class="text-center name">s3585559</h5>
                    <p>&gt;</p>
                    <p>Contribution:</p>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <br><br>
{% endblock %}