{% extends "index.html" %}
{% block content %}

    <head>

        <title>Analysis</title>

    </head>

    <body>
    <div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Users' platform and year of interest</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" align="center">
                    <div id="piechart"></div>
                </div>
                <div class="col-md-6" align="center">
                    <div id="Anthony_chart_div"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">The top five indicators of concern</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">
                        <div id="indchart_values"
                             style="width: auto; height: 500px; margin-right: auto;margin-left: auto;"></div>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Polygon map of user interest in countries</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">
                        <div id="regions_div"
                             style="auto; height: 400px; margin-right: auto;margin-left: auto; background-color: #fff;border: 1px solid #ccc;"></div>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">User login time and location distribution</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" align="center">
                    <h1 class="text-center">
                        <div id="barchart_values" style="width: auto; height: 500px;"></div>
                    </h1>
                </div>
                <div class="col-md-6" align="center">
                    <h1 class="text-center">
                        <div id="city_values" style="width: auto; height: 500px;"></div>
                    </h1>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawAnthonyChart);
        google.charts.setOnLoadCallback(drawRegionsMap);
        google.charts.setOnLoadCallback(drawIndibar);
        google.charts.setOnLoadCallback(drawChartbar);
        google.charts.setOnLoadCallback(drawCitytbar);

        function drawChart() {

            var data = google.visualization.arrayToDataTable(
                {{ agent|safe }}
            );
            var options = {
                title: "User's operating system pie chart",
                pieHole: 0.4,
                height: 500,
                width: 400,
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }

        function drawAnthonyChart() {

            // Create the data table for Anthony's pizza.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Year');
            data.addColumn('number', 'be_selected');
            data.addRows(
                {{ year|safe }}
            );

            var options = {
                title: "Distribution of years of interest",
                pieHole: 0.4,
                height: 500,
                width: 400,
            };

            // Instantiate and draw the chart for Anthony's pizza.
            var chart = new google.visualization.PieChart(document.getElementById('Anthony_chart_div'));
            chart.draw(data, options);
        }


        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': '{your key}'
        });


        function drawRegionsMap() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Year');
            data.addColumn('number', 'be_selected');
            data.addRows(
                {{ geo|safe }}
            );

            var options = {
                title: "The frequency of country be selected",
                colorAxis: {minValue: 0, colors: ['#ffffb2', '#fecc5c', '#fd8d3c', '#f03b20', '#bd0026']},
                backgroundColor: '#81d4fa',
                datalessRegionColor: '#ffffb2',
            };

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        }


        function drawIndibar() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'indicator');
            data.addColumn('number', 'frequency');
            data.addRows(
                {{ hel_ind|safe }}
            );

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                }]);

            var options = {
                title: "User login time distribution",
                bar: {groupWidth: "95%"},
                legend: {position: "none"},
            };
            var chart = new google.visualization.BarChart(document.getElementById("indchart_values"));
            chart.draw(view, options);
        }


        function drawChartbar() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Hour');
            data.addColumn('number', 'frequency');
            data.addRows(
                {{ hour|safe }}
            );

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                }]);

            var options = {
                title: "User login time distribution",
                bar: {groupWidth: "95%"},
                legend: {position: "none"},
            };
            var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
            chart.draw(view, options);
        }


        function drawCitytbar() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Hour');
            data.addColumn('number', 'frequency');
            data.addRows(
                {{ city|safe }}
            );

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                {
                    calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation"
                }]);

            var options = {
                title: "User location distribution",
                bar: {groupWidth: "95%"},
                legend: {position: "none"},
            };
            var chart = new google.visualization.BarChart(document.getElementById("city_values"));
            chart.draw(view, options);
        }


    </script>


    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>

{% endblock %}